version: '3.8'

services:
  # Node.js Application
  app:
    build: .
    container_name: nodejs-docker-aws-deployment
    ports:
      - "5000:3000"
    environment:
      - PORT=3000
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - app-network
    volumes:
     
      - app-logs:/app/logs

networks:
  app-network:
    driver: bridge

volumes:
  app-logs:
